@import url(bootstrap.css);
@font-face {
  font-family: "sourcesanspro-regular-webfont";
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Museo_Slab_900";
  src: url("../fonts/Museo_Slab_900.eot");
  src: url("../fonts/Museo_Slab_900.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_900.woff") format("woff"), url("../fonts/Museo_Slab_900.ttf") format("truetype"), url("../fonts/Museo_Slab_900.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Museo_Slab_700";
  src: url("../fonts/Museo_Slab_700.eot");
  src: url("../fonts/Museo_Slab_700.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_700.woff") format("woff"), url("../fonts/Museo_Slab_700.ttf") format("truetype"), url("../fonts/Museo_Slab_700.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, .icon-cart_img, .icon-facebook_logo, .icon-google_icon, .icon-green-pointer, .icon-green-tick, .icon-twitter_logo, .page-header-green:after, .panels .panel-default .panel-body .with-green-arrows li:before {
  background: url('../img/icon-sd03fbdad8a.png') no-repeat; }

.icon-cart_img {
  background-position: 0 0;
  height: 20px;
  width: 22px; }

.icon-facebook_logo {
  background-position: -122px 0;
  height: 48px;
  width: 46px; }

.icon-google_icon {
  background-position: -268px 0;
  height: 47px;
  width: 47px; }

.icon-green-pointer {
  background-position: -415px 0;
  height: 8px;
  width: 12px; }

.icon-green-tick {
  background-position: -527px 0;
  height: 78px;
  width: 78px; }

.icon-twitter_logo {
  background-position: -705px 0;
  height: 47px;
  width: 47px; }

.icon, .icon-cart_img, .icon-facebook_logo, .icon-google_icon, .icon-green-pointer, .icon-green-tick, .icon-twitter_logo, .page-header-green:after, .panels .panel-default .panel-body .with-green-arrows li:before {
  display: inline-block; }

/* Main elements */
body {
  width: 100%;
  max-width: 100%;
  font-family: 'sourcesanspro-regular-webfont', Arial; }

html.ie8 body {
  min-width: 990px; }

/* Typographic */
h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  text-align: center;
  color: inherit;
  max-width: 100%;
  font-weight: normal;
  font-family: 'Museo_Slab_900';
  color: inherit;
  margin-bottom: 10px; }

h1 {
  font-size: 3.35em;
  line-height: 107%;
  margin-bottom: 0; }

h2 {
  font-size: 2.36em;
  margin-bottom: 64px; }

h3 {
  font-size: 2.9em;
  margin-bottom: 14px; }

h5 {
  font-size: 1.55em; }

h4 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

strong {
  font-family: 'Museo_Slab_900'; }

ul li, p, dd, dt, cite, address {
  line-height: 146%;
  margin-bottom: 17px;
  padding: 0;
  font-size: 1.46em;
  color: inherit;
  max-width: 100%; }

.outlined, .outlined div {
  outline: 1px solid red; }

.container {
  margin: auto;
  max-width: 960px;
  box-sizing: border-box; }

.container-fluid {
  box-sizing: border-box; }

.btn {
  white-space: normal; }

.btn:hover, .btn:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important; }

.img-responsive {
  margin: auto;
  display: block; }

.navbar-default {
  margin: 0;
  padding: 8px 0px 0px 0px;
  border: 0;
  box-shadow: none;
  position: relative;
  background: url(../img/nav-bottom-bgd.gif) repeat-x bottom center #f6f8f7; }
  .navbar-default:before {
    content: '';
    position: absolute;
    height: 11px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: url(../img/top-navbar-bgd.gif) repeat-x center; }
  .navbar-default .navbar-toggle {
    margin-top: 18px; }
  .navbar-default .navbar-main-nav li {
    margin: 0;
    line-height: 100%;
    padding: 0; }
    .navbar-default .navbar-main-nav li a {
      padding: 0px 16px 0px 18px;
      color: #5f5f5f;
      height: 84px;
      line-height: 84px;
      background: url(../img/separator.gif) no-repeat right center; }
      @media (max-width: 768px) {
        .navbar-default .navbar-main-nav li a {
          padding: 5px 16px 5px 16px;
          height: auto;
          line-height: 100%; } }
  .navbar-default .navbar-right li a {
    padding: 15px 7px; }
    @media (max-width: 768px) {
      .navbar-default .navbar-right li a {
        padding: 10px 25px; } }
  .navbar-default .navbar-right li .icon-cart_img {
    display: inline-block;
    vertical-align: middle; }

.page-header {
  margin: 0;
  padding: 0;
  border: 0; }

.page-header-gray {
  background: #f9f8f7;
  padding: 30px 0 100px 0; }
  .page-header-gray h3 {
    text-align: left; }
  .page-header-gray p {
    font-size: 1.3em; }

.page-header-green {
  position: relative;
  z-index: 100;
  margin-top: -80px; }
  .page-header-green .container {
    padding-left: 0;
    padding-right: 0; }
  .page-header-green:after {
    content: '';
    background-position: -527px 0;
    height: 78px;
    width: 78px;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -37px;
    z-index: 10; }
  .page-header-green .well-green {
    color: #fff;
    padding: 13px 59px;
    padding-bottom: 38px;
    background: #02b37d; }
    @media (max-width: 768px) {
      .page-header-green .well-green {
        padding: 6px 15px 40px 15px;
        margin-left: 10px;
        margin-right: 10px; } }
    .page-header-green .well-green h3 {
      margin-bottom: 24px; }
    .page-header-green .well-green p {
      font-size: 1.3em;
      line-height: 126%;
      margin-bottom: 19px; }

.panels {
  padding: 38px 0 20px 0; }
  @media (max-width: 768px) {
    .panels .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; } }
  .panels .panel-default {
    border: 1px solid #dddfde; }
    .panels .panel-default .panel-heading {
      text-align: center;
      color: #fff;
      background: #3b4557;
      padding: 7px 10px; }
      .panels .panel-default .panel-heading h4 {
        font-size: 2em;
        padding: 0;
        margin: 8px 0 30px 0;
        line-height: 100%; }
        .panels .panel-default .panel-heading h4 sup {
          font-family: 'sourcesanspro-regular-webfont', Arial;
          font-size: .46em;
          position: relative;
          top: -13px;
          right: 4px; }
      .panels .panel-default .panel-heading p.price {
        font-size: 1.86em;
        margin-bottom: 11px;
        line-height: 100%; }
    .panels .panel-default .panel-body {
      padding: 10px 8px;
      min-height: 857px; }
      @media (max-width: 768px) {
        .panels .panel-default .panel-body {
          min-height: 1px; } }
      .panels .panel-default .panel-body .btn-warning {
        margin: 30px auto 20px auto;
        max-width: 80%; }
      .panels .panel-default .panel-body .risk-holder {
        font-size: 1em;
        text-transform: uppercase;
        color: #838994;
        border-top: 1px dotted #caccd1;
        border-bottom: 1px dotted #caccd1;
        text-align: center;
        padding: 15px 0;
        margin: 20px 29px;
        line-height: 125%;
        font-family: 'Museo_Slab_700'; }
      .panels .panel-default .panel-body .with-green-arrows {
        margin: 25px 10px;
        padding: 0;
        list-style: none;
        font-size: .67em; }
        .panels .panel-default .panel-body .with-green-arrows li {
          padding-left: 58px;
          position: relative;
          margin-bottom: 9px; }
          .panels .panel-default .panel-body .with-green-arrows li:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 30px;
            color: #3d3d3d;
            background-position: -415px 0;
            height: 8px;
            width: 12px; }

footer {
  color: #767676;
  padding: 50px 0 80px 0; }
  @media (max-width: 768px) {
    footer {
      padding: 15px 0 20px 0; } }
  footer .col-xs-4 {
    text-align: center; }
    @media (max-width: 768px) {
      footer .col-xs-4 {
        padding: 10px 15px; } }
  footer .copyright {
    font-size: 1.2em;
    margin: 5px 0px 0px 0px;
    line-height: 100%; }
  footer .nav-usual {
    text-align: center;
    font-size: 1.2em; }
    footer .nav-usual a {
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      line-height: 100%;
      color: #767676; }
  footer .nav-social {
    text-align: center; }
    footer .nav-social a {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin: -20px 0px 0px 0px;
      padding: 0; }
      @media (max-width: 768px) {
        footer .nav-social a {
          margin-top: 0; } }
      footer .nav-social a:hover {
        opacity: .7; }

@media (max-width: 768px) {
  br {
    display: none; }

  /* Grid */
  .row {
    margin: 0; }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: none;
    width: 100%; }

  h1, h2, h3, h4, p {
    word-wrap: break-word; } }
@media (max-width: 480px) {
  p {
    word-wrap: break-word; } }
a:hover,
a:focus,
a,
i,
.btn,
.btn:hover,
.btn:focus {
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease; }

.btn-warning {
  color: #fff;
  background: #ff9e39;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWUzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZmODIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjcwMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff9e39 0%, #ff8226 52%, #ff7021 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9e39), color-stop(52%, #ff8226), color-stop(100%, #ff7021));
  background: -webkit-linear-gradient(top, #ff9e39 0%, #ff8226 52%, #ff7021 100%);
  background: -o-linear-gradient(top, #ff9e39 0%, #ff8226 52%, #ff7021 100%);
  background: -ms-linear-gradient(top, #ff9e39 0%, #ff8226 52%, #ff7021 100%);
  background: linear-gradient(to bottom, #ff9e39 0%, #ff8226 52%, #ff7021 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9e39', endColorstr='#ff7021',GradientType=0 );
  padding: 19px 15px;
  line-height: 100%;
  height: auto;
  display: block;
  width: 100%;
  max-width: 100%;
  text-shadow: 2px 3px 3px #d1661e;
  line-height: 100%;
  font-size: 1.45em;
  border: 1px solid #b84000;
  font-family: 'Museo_Slab_900'; }
  @media (max-width: 768px) {
    .btn-warning {
      max-width: 100% !important;
      width: 100%; } }
  html.ie9 .btn-warning {
    filter: none !important; }
  html.ie8 .btn-warning {
    background: #ff9e39 !important; }
